<include file="Member:header" />
<script type="text/javascript" src="../Public/js/select-option-disabled-emulation.js"></script>
<script type="text/javascript">
    $(function(){
        $.formValidator.initConfig({formID:"form1",debug:false,submitOnce:true,
		onError:function(msg,obj,errorlist){
			alert(msg);
		},
		submitAfterAjaxPrompt : '有数据正在异步验证，请稍等...'
	});
        
        $("#catid").formValidator({onShow:"请选择所属分类",onFocus:"选择到最终子节点，否则无法审核通过!",onCorrect:"输入正确"}).inputValidator({min:1,onError: "请选择所属分类!"});
        $("#pubaccount").formValidator({onShow:"请输入公众号名称",onFocus:"公众号名称必须填写",onCorrect:"输入正确"}).inputValidator({min:1,onError:"请输入正确的公众号名称!"})
	    .ajaxValidator({
		dataType : "json",
		async : true,
		url : "{:U('Weixin/checkPubAccount')}",
		success : function(data){
                    if(data.status ===0) return true;    
                    if(data.status ===1) return false;    
                    return false;
		},
		buttons: $("#button"),
		error: function(jqXHR, textStatus, errorThrown){alert("服务器没有返回数据，可能服务器忙，请重试"+errorThrown);},
		onError : '此公众号名称已存在',
		onWait : "正在对公众号名称进行合法性校验，请稍候..."
            });
        $("#wxaccount").formValidator({empty:true,onShow:"请输入关联微信号",onFocus:"可以不填",onCorrect:"输入正确"}).inputValidator({min:1,onError:"请输入关联微信号!"}).ajaxValidator({
		dataType : "json",
		async : true,
		url : "{:U('Weixin/checkwxaccount')}",
		success : function(data){
                    if(data.status ===0) return true;  
                    if(data.status ===1) return false;
                    return false;
		},
		buttons: $("#submit"),
		error: function(jqXHR, textStatus, errorThrown){alert("服务器没有返回数据，可能服务器忙，请重试"+errorThrown);},
		onError : '此关联微信号已存在',
		onWait : "正在对微信号进行合法性校验，请稍候..."
            });
        $("#ghweixin").formValidator({empty:true,onShow:"请输入微信原始号",onFocus:"可以不填",onCorrect:"输入正确"}).inputValidator({min:1,onError:"请输入微信原始号!"}).ajaxValidator({
		dataType : "json",
		async : true,
		url : "{:U('Weixin/checkghweixin')}",
		success : function(data){
                    if(data.status ===0) return true;  
                    if(data.status ===1) return false;
                    return false;
		},
		buttons: $("#submit"),
		error: function(jqXHR, textStatus, errorThrown){alert("服务器没有返回数据，可能服务器忙，请重试"+errorThrown);},
		onError : '此微信原始号已存在',
		onWait : "正在对微信原始号进行合法性校验，请稍候..."
            });
        $("#logo").formValidator({onShow:"选择正方形图片，小于不超过512KB,支持jpg,gif,png格式!",onFocus:"本地头像和网络头像至少填一项",onCorrect:"输入正确！"}).functionValidator({fun:allEmpty});
        $("#weblogo").formValidator({onShow:"本地头像和网络头像至少填一项,带http://",onFocus:"本地头像和网络头像至少填一项,带http://",onCorrect:"输入正确！"}).functionValidator({fun:allEmpty});
        $("#qrcode").formValidator({onShow:"选择正方形图片，小于不超过512KB,支持jpg,gif,png格式!",onFocus:"本地二维码和网络二维码至少填一项",onCorrect:"输入正确！"}).functionValidator({fun:oneEmpty});
        $("#webqrcode").formValidator({onShow:"本地二维码和网络二维码至少填一项,带http://",onFocus:"本地二维码和网络二维码至少填一项,带http://",onCorrect:"输入正确！"}).functionValidator({fun:oneEmpty});
        $("#content").formValidator({onShow:"请输入公号介绍",onFocus:"至少要输入5个汉字<br>或10个字符",onCorrect:"输入正确"}).inputValidator({min:10,onError:"你输入的介绍长度不正确,<br>请确认"});        
        $("#realname").formValidator({onShow:"请输入联系人姓名",onCorrect:"输入正确"}).inputValidator({min:1,onError:"请输入联系人姓名"});
        $("#phone").formValidator({onShow:"请输入你的手机或电话，可以为空哦",onFocus:"格式例如：0577-88888888或11位手机号码",onCorrect:"输入正确"}).inputValidator({min:1,onError:"请正确输入联系方式"});
        $("#qq").formValidator({onShow:"请输入QQ号码",onCorrect:"输入正确"}).regexValidator({regExp:"qq",dataType:"enum",onError:"QQ号码格式不正确"});
    });
    function allEmpty(val,elem) { 
        return ($("#logo").val()==="" && $("#weblogo").val()==="") ? '本地头像和网络头像至少填一项,带http://' :true; 
    } 
    function oneEmpty(val,elem) { 
        return ($("#qrcode").val()==="" && $("#webqrcode").val()==="") ? '本地二维码和网络二维码至少填一项,带http://' :true; 
    } 
   
</script>
<div class="memberbox">   
        <div class="memberleft">
            <include file="Member:left" />
        </div>
        <div class="memberright">
            <div class="member_detail">提交微信公众号</div>
            <div class="member_content">
                <form method='post' id="form1" name="form1" action="{:U('Member/add')}"  enctype="multipart/form-data">
                    <div>
                        <label> 帐号类型：</label>
                        <input type="radio" name="typeid" value="2" checked="checked" style="margin-top: 5px;" /><span>&nbsp;企业号&nbsp;&nbsp;</span><input type="radio" name="typeid" value="1" style="margin-top: 5px;"  /><span>&nbsp;订阅号</span>
                    </div>
                    <div>
                        <label>所属分类：</label>
                        <select id="catid" name="catid">
                          <option value="" >请选择</option>
                          <volist name="categorylist" id="catvo">
                            <if condition="$categorylist[$key]['level'] egt $categorylist[$key+1]['level']">
                            <option value="{$catvo['id']}">
                            <else />
                            <option value="{$catvo['id']}" disabled="disabled">
                            </if>

                            <for start="1" end="$catvo['level']">
                            &nbsp;&nbsp;
                            </for>
                            <if condition="$catvo['level'] gt 1">
                            ├&nbsp;
                            </if>
                            {$catvo['catname']}
                            </option>
                        </volist>
                      </select>
                        <span id="catidTip"></span>
                    </div>
                    
                    <div>
                        <label>公众号名称：</label>
                        <input type="text" name="pubaccount" id="pubaccount" class="ipt5">
                        <span id="pubaccountTip"></span>
                    </div>
                    <div>
                        <label>关联微信号：</label>
                        <input type="text" name="wxaccount" id="wxaccount" class="ipt5">
                        <span id="wxaccountTip"></span>
                    </div>
                    <div>
                        <label>微信原始号：</label>
                        <input type="text" name="ghweixin" id="ghweixin" class="ipt5">
                        <span id="ghweixinTip"></span><span class="tip"><a href="">点击查看教程微信原始号怎么获取？</a></span>
                        <div style="color: #999999;padding-left: 140px;">未认证公号gh_xxxxxxxxxxxxxx 格式，已认证公号格式自定义，<br>点击微信官方二维码图片下载，文件名里面有。</div>
                    </div>
                    
                    <div>
                        <label>网站地址：</label>
                        <input type="text" name="website" value="" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">带http://</span>
                    </div>
                    <div>
                        <label>新浪微博：</label>
                        <input type="text" name="sinaweibo" value="" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">带http://</span>
                    </div>
                    <div>
                        <label>腾讯微博：</label>
                        <input type="text" name="tencentweibo" value="" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">带http://</span>
                    </div>
                    <div>
                        <label>淘宝店铺地址：</label>
                        <input type="text" name="tbshopurl" value="" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">带http://</span>
                    </div>
                    <div>
                        <label>拍拍店铺地址：</label>
                        <input type="text" name="ppshopurl" value="" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">带http://</span>
                    </div>
                    
                    <div>
                        <label>所属地区：</label>
                        <select name="province" id="province">
                            <option value="-1" selected>省份</option>
                            <volist name="province" id="one">
                            <option value="{$one.id}">{$one.area_name}</option>
                            </volist>
                        </select>
                        <select name="city" id="city">
                            <option value="-1">城市</option>
                        </select>
                        <span class="tip">全不选则默认中国，没有可以不选!</span>
                    </div>
                    <div>
                        <label>微信头像：</label>
                        <input type="file" name="logo" id="logo" class="ipt5" />
                        <span id="logoTip">正方形图片，大小不超过512KB,支持jpg,gif,png格式!</span>
                    </div>
                    <div>
                        <label>微信网络头像：</label>
                        <input type="text" name="weblogo" id="weblogo" class="ipt6">
                        <span id="weblogoTip"></span>
                    </div>
                    <div>
                        <label>微信二维码：</label>
                        <input type="file" name="qrcode" id="qrcode" class="ipt5" />
                        <span id="qrcodeTip"></span>
                    </div>
                    <div>
                        <label>微信网络二维码：</label>
                        <input type="text" name="webqrcode" id="webqrcode" class="ipt6">
                        <span id="webqrcodeTip"></span>
                    </div>
                    <div>
                        <label>是否允许评论：</label>
                        <input type="radio" name="iscomment" value="1" checked="checked" style="margin-top: 5px;"><span>&nbsp;允许评论&nbsp;&nbsp;</span><input type="radio" name="iscomment" value="0" style="margin-top: 5px;"><span>&nbsp;不允许评论</span>
                        <span class="star"></span>
                    </div>
                    <div>
                        <label> Tag标签：</label>
                        <input type="text" class="ipt6" name="tag">
                        <span class="tip">用空格隔开</span>
                    </div>
                    <div>
                         <label>帐号介绍：</label>
                         <textarea name="content" id="content" cols="40" rows="5"></textarea>
                         <span id="contentTip"></span>
                    </div>
                    <div>
                        <label>联系人：</label>
                        <input type="text" name="realname" id="realname" class="ipt4">
                        <span id="realnameTip"></span>
                    </div>
                    <div>
                        <label>联系方式：</label>
                        <input type="text" name="phone" id="phone" class="ipt5">
                        <span id="phoneTip"></span>
                    </div>
                    <div>
                        <label>联系QQ：</label>
                        <input type="text" name="qq" id="qq" class="ipt4">
                        <span id="qqTip"></span>
                    </div>
                    <div>
                        <label>title：</label>
                        <input type="text" name="title" class="ipt6">
                        <span class="star"></span>
                        <span class="tip">网页title标签的设置。如果不填，默认为公众账号</span>
                    </div>
                    <div>
                        <label>keywords：</label>
                        <input type="text" name="keywords" class="ipt5">
                        <span class="star"></span>
                        <span class="tip">网页meta标签keywords网页关键词的，利于搜索。多关键词之间</span>
                        <div style="color: #999999;padding-left: 140px;">用空格隔开</div>
                    </div>
                    <div>
                        <label>description：</label>
                        <textarea name="description" cols="40" rows="5"></textarea>
                        <span class="star"></span>
                        <span class="tip">网页meta标签<br />description网页<br />描述的设置，利于搜索</span>
                        
                    </div>
                    <div>
                        <label> 描述图片：</label>
                        <input type="file" name="descPic"  class="ipt6" style="display:inline;"/>
                    </div>
                  <div>
                      <label>&nbsp;</label>
                      <input type="submit" id="submit" value="提 交" class="submit">
                  </div>
                  
               </form>
            </div>
        </div>
            
            
</div>


<script type="text/javascript">
    $(function(){
        $("#province").change(function(){
            
            var ajaxurl="{:U('Ajax/getArea')}";
            var areaId=this.value;
            var areaType='city';
            $.post(ajaxurl,{'areaId':areaId},function(data){

                    if(areaType==='city'){
                       $('#'+areaType).html('<option value="-1">城市</option>');

                       $('#district').html('<option value="-1">镇/区</option>');
                    }else if(areaType==='district'){
                       $('#'+areaType).html('<option value="-1">镇/区</option>');
                    }
                    if(areaType!=='null'){
                        $.each(data,function(no,items){
                            $('#'+areaType).append('<option value="'+items.id+'">'+items.area_name+'</option>');
                        });
                    }
            });

        });
        
    });

</script>

<include file="Public:footer" />