<include file="Public:header" />
<div class="main">
    <div class="box_tit">
        <h2>APP生成下载</h2>
    </div>
    <table cellpadding="3" cellspacing="3" class="apptable">
        <tr>
            <td class="indent25"><span style="color: #367ABB; font-weight: bold;">需要手机APP客户端的用户请按以下步骤获取：</span></td>
        </tr>
        <tr>
            <td class="indent25">1、请联系鱼福官方（<a href="http://www.yufu5.com" target="_blank">http://www.yufu5.com</a>）</td>
        </tr>
        <tr>
            <td class="indent25">2、提交制作手机APP需要的内容，格式如下：<br />
                <div class="indent50">a)APP应用名称(如：鱼福网)</div>
                <div class="indent50">b)网站地址（如：http://www.yufu5.com）</div>
                <div class="indent50">c)APP应用图标（大小：96*96像素&nbsp;&nbsp;背景:透明&nbsp;&nbsp;格式：png）</div>

            </td>
        </tr>
        <tr>
            <td class="indent25">3、鱼福官方会在1-3个工作日为您提供APP客户端的下载</td>
        </tr>
        <tr>
            <td class="indent25">4、APP客户端只对购买收费模板的用户免费，未购买收费模板的用户制作一个50元</td>
        </tr>
    </table>
    

</div>
<include file="Public:footer" />