<include file="Public:header"/>
	<link rel="stylesheet" href="../Public/css/ostyle.css">
	<script type="text/javascript" src="../Public/js/jquery.min.js"></script>
	<style type="text/css">
	.item.pop div.title{font-family:"Microsoft Yahei";font-size:15px;text-align:left;margin:0;padding:5px 0 0 0;text-align: left;}
	.item.pop div.star{color:#F00;text-align:left;}
	.item.pop div.rate{color:#999;text-align:left;}
	.item.pop div.des{overflow:hidden;}
	.item.pop div.des p{text-indent:24px;}
	</style>
	<link rel="stylesheet" href="../Public/css/list.css">
	<script type="text/javascript" src="../Public/js/list.js" ></script>
	<div id="main">

		<div id="bread">   
	    	<a href="<?='http://'.$_SERVER['HTTP_HOST']?>">首页</a><span>&gt;</span>
	        <volist name="position" id="vo">
                <a href="{:U('Weixin/index',array('id'=>$vo['id']))}">{$vo.catname}</a> &gt; 
             </volist>
		</div>


		<div id="sider">
			<h1><a href="#">类别</a></h1>
			<ul>
				<?php
					$model = new CommonModel("category");
					$data = $model->where(array("pid"=>array("eq",53)))->select();
					foreach($data as $key=>$value)
					{
				?>
					<li class="siderli <?php if($data[$key]["id"]==$id)echo 'cur';?>"><a href="__ACTION__?m=weixin&a=index&id=<?=$data[$key]["id"]?>&o=1"><?=$data[$key]["catname"]?></a></li>
				<?php } ?>
			</ul>
		</div>




		<div id="content">
			<div id="contetn_title">
				<a class="<?php if($o==1)echo 'cur';?>" href="__ACTION__?m=weixin&a=index&id={$id}&o=1">按最新</a>
				<a class="<?php if($o==2)echo 'cur';?>" href="__ACTION__?m=weixin&a=index&id={$id}&o=2">按访问量</a>
				<a class="<?php if($o==3)echo 'cur';?>" href="__ACTION__?m=weixin&a=index&id={$id}&o=3">按评分</a>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
						$(".item").mouseover(function(){
							$(this).children().eq(1).show();
						}).mouseout(function(){
							$(this).children().eq(1).hide();
						});

				});
			</script>
			<div id="list_1" class="list_x cur">
				<volist name="list" id="vo">
					<div class="item">
						<a href="{:U('Weixin/show',array('id'=>$vo['id']))}">
							<img class="abs" src="<empty name='vo.logo'><empty name='vo.weblogo'>../Public/images/nopic.gif<else />{$vo.weblogo}</empty><else />__ROOT__/Uploads{$vo.logo}</empty>" alt="icon" width="106" height="106">
							<img src="<empty name='vo.qrcode'><empty name='vo.webqrcode'>../Public/images/nopic.gif<else />{$vo.webqrcode}</empty><else />__ROOT__/Uploads{$vo.qrcode}</empty>" alt="erweima" width="106" height="106">
							<span class="name">{$vo.pubaccount|msubstr=0,7}</span>
							<!--h6 class="guanzhu"><a href="#">加关注</a></h6-->
						</a>
						<div class="pop" style="display:none;width:222px;top: 0px;left: 120px;position: absolute;z-index:10001;">
                                <div class="panel">
                                    <div class="ewm"><img width=180 height=180 src="__ROOT__/Uploads{$vo.qrcode}"></div>
                                    <div class="title" style="text-align:left;">{$vo.pubaccount|msubstr=0,6}</div>
                                    <div class="star"><img src="../Public/images/xx{$vo.xingji}.jpg" /></div>
                                    <div class="rate">{$vo.hits}人关注</div>
                                    <div class="des"><p>{$vo.content|strip_tags|msubstr=0,20}</p></div>
                                </div>
                                <div class="arrow" style="position:absolute;left:-18px;top:30px;">
                                    <div class="arrow1"></div>
                                    <div class="arrow2"></div>
                               </div> 
                        </div>
					</div>
				</volist>
			</div>
			<div style="float:right;margin-top:5px;clear:both;">
				{$page}
			</div>
		</div>
	
	<div class="clear"></div>
	</div>
<include file="Public:footer"/>