	<include file="Public:header"/>
    <link rel="stylesheet" href="../Public/css/ostyle.css">
    <script type="text/javascript" src="../Public/js/jquery.min.js"></script>
    <style type="text/css">
            .nav .search input
            {
                height:26px;
            }
        </style>

    <link rel="stylesheet" href="../Public/css/content.css">
    <link rel="stylesheet" href="../Public/css/slider.css" />
    <script type="text/javascript" src="../Public/js/jquery.aw-showcase.min.js"></script>
    <script type="text/javascript" src="../Public/js/slider.js"></script>
	<div id="main">
		<div id="bread">   
	    	<a href="<?='http://'.$_SERVER['HTTP_HOST']?>">首页</a><span>&gt;</span>
	        <volist name="position" id="vo">
                <a href="{:U('Weixin/index',array('id'=>$vo['id']))}">{$vo.catname}</a> &gt; 
             </volist>
		</div>
		<div id="main_head">
			<div id="l">
				<img src="<empty name='data.logo'><empty name='data.weblogo'>../Public/images/nopic.gif<else />{$data.weblogo}</empty><else />__ROOT__/Uploads{$data.logo}</empty>" alt="icon" width="150" heihgt="150">
				<div id="m_h_t" style="font-size:13px;">
					<h2 style="font-size:25px;">{$data.pubaccount}</h2>
					<span>分类:</span>
					<a><volist name="position" id="vo"><a href="{:U('Weixin/index',array('id'=>$vo['id']))}">{$vo.catname}</a>&nbsp;</volist></a>					
				</div>
				<ul id="m_h_c" style="font-size:12px;">
					<li><span>公众账号</span>{$data.pubaccount|msubstr=0,15}</li>
                    <li><span> &nbsp;微 信 号</span>{$data.wxaccount|msubstr=0,15}</li>
					<li><span>官方网站</span>
                        <notempty name="data.website">
                            <a href="{$data.website}">{$data.title|msubstr=0,15}</a>
                        </notempty>
                    </li>
					<li><span> &nbsp;关 注 度</span>{$data.hits}人关注</li>
					<li><span>账号评级</span>
                        <img src="../Public/images/xx{$data.xingji}.jpg" />
                    </li>
					<li><span>新浪微博</span>
                        <notempty name="data.sinaweibo">
                            <a href='{$data.sinaweibo}' target='_blank' rel="nofollow">{$data.title|msubstr=0,15}</a>
                        </notempty>
                    </li>
					<li><span>腾讯微博</span>
                        <notempty name="data.tencentweibo">
                            <a href='{$data.tencentweibo}' target='_blank' rel="nofollow">{$data.title|msubstr=0,15}
                            </a>
                        </notempty>
                    </li>
                    <li><span>淘宝店铺</span>
                        <notempty name="data.tbshopurl"><a href='{$data.tbshopurl}' target='_blank' rel="nofollow">{$data.title|msubstr=0,15}</a></notempty>
                    </li>
                    <li><span>拍拍店铺</span>
                        <notempty name="data.ppshopurl"><a href='{$data.ppshopurl}' target='_blank' rel="nofollow">{$data.title|msubstr=0,15}</a></notempty>
                    </li>
					<li><span>收录时间</span>{$data.create_time|toDate='Y-m-d'}</li>
				</ul>
			</div>
			<p>用微信扫一扫添加关注</p>
			<img src="<empty name='data.qrcode'><empty name='data.webqrcode'>../Public/images/nopic.gif<else />{$data.webqrcode}</empty><else />__ROOT__/Uploads{$data.qrcode}</empty>" alt="erweima" width="150" heihgt="150">
			<div class="clear"></div>
		</div>

		<div id="content_xjp">
			<div id="content_1" class="content_n">
				<div class="content_title">
					<a>账号介绍</a>
				</div>
				<div  class="content_m">
					<p style="font-size:14px;">{$data.content}</p>
				</div>
			</div>

            <div id="content_3" class="content_n">
                <div class="content_title">
                    <a>促销活动</a>
                </div>
                <div class="cxcontent">
                    <ul style="font-size:14px;">
                        <volist name='articlelist' id='vo'>
                            <li><a href="{:U('Promotion/show',array('id'=>$vo['id']))}" target="_blank">{$vo.title}</a></li>
                        </volist>
                    </ul>
                </div>
            </div>

			<div id="content_2" class="content_n">
				<div class="content_title">
					<a>图片介绍</a>
				</div>
				<div   id="showcase" class="showcase content_m">
                    <div class="showcase-slide">
                        <empty name='data.descPic'>
                            <div class="showcase-content">
                                 <img style="width:670px;height:400px;" src="../Public/images/defaultPic.jpg"/>
                            </div>
                        <else/>
                            <div class="showcase-content">
                                <img src="__ROOT__/Uploads{$data.descPic}"/>
                            </div>
                        </empty>
                    </div>
				</div>
			</div>

			<div id="content_3" class="content_n">
				<div class="content_title">
					<a>关注他的人还关注</a>
				</div>
				<div  class="content_m">
					<ul>
                        <yufu:weixin catid="'.$data['catid'].'" order="rand()" num="12">
						  <li>
						      	<a href="{:U('Weixin/show',array('id'=>$weixin['id']))}">
                                <img class="icon" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" alt="icon" width="80" height="80">

                                <!--这个是二维码-->
                                <img src="<empty name='weixin.qrcode'><empty name='weixin.webqrcode'>../Public/images/nopic.gif<else />{$weixin.webqrcode}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>" alt="icon" width="80" height="80">
							     <h4>{$weixin.pubaccount|msubstr=0,6}</h4></a>
						  </li>
                        </yufu:weixin>
					</ul>

					<div class="clear"></div>
				</div>
			</div>

			<div id="content_4" class="content_n">

				<div class="content_title">
					<a>留言评论</a>
				</div>

				<div  class="content_m">
					<if condition="$data['iscomment'] eq 1">
                         <eq name="iscomment" value="1">
                         <eq name="commenttype" value="2">
                         <div class="comment">
                            <yufu:other settag="duoshuo" />
                         </div>
                         </eq>
                         <eq name="commenttype" value="1">
                          <?php $url=U('Weixin/addcomment');?>
                         <include file="Public:comment" />
                         </eq>
                        </eq>
                    </if>
				</div>

			</div>

		</div>

		<div id="sider">
			<div class="r">
                <div class="rt">
            <h2><a href="{:U('Weixin/news',array('id'=>'90'))}">最新收录</a></h2>
            </div>
                 <div class="index-side index-side02">           
            <ol>
                <yufu:weixin catid="53" field="id,logo,pubaccount,xingji" order="create_time desc" num="8" >
                <li>
                    <div class="con-prompt2">
                        <code style="width:70px;">
                        <?php
                            switch ($weixin["xingji"]) {
                                case 1:
                                    echo "★☆☆☆☆";
                                    break;
                                case 2:
                                    echo "★★☆☆☆";
                                    break;
                                case 3:
                                    echo "★★★☆☆";
                                    break;
                                case 4:
                                    echo "★★★★☆";
                                    break;
                                case 5:
                                    echo "★★★★★";
                                    break;
                            }
                        ?>
                        </code>
                        <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="20" height="20"></a> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" style="margin-left:5px;" target="_blank">{$weixin.pubaccount|msubstr=0,13}</a>
                    </div>
                </li>   
                </yufu:weixin>  
            </ol>
                </div>
            </div>

			<div class="r">
        <div class="rt">
            <h2>关注排行</h2>
            </div>
        <div class="index-side index-side02">           
            <ol>
                <yufu:weixin catid="53" field="id,logo,pubaccount,xingji,hits" order="hits desc" num="8" >
                <li>
                    <div class="con-prompt2">
                        <code style="width:70px;">
                        <?php
                            switch ($weixin["xingji"]) {
                                case 1:
                                    echo "★☆☆☆☆";
                                    break;
                                case 2:
                                    echo "★★☆☆☆";
                                    break;
                                case 3:
                                    echo "★★★☆☆";
                                    break;
                                case 4:
                                    echo "★★★★☆";
                                    break;
                                case 5:
                                    echo "★★★★★";
                                    break;
                            }
                        ?>
                        </code>
                        <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="20" height="20"></a> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" style="margin-left:5px;" target="_blank">{$weixin.pubaccount|msubstr=0,13}</a>
                    </div>
                </li>   
                </yufu:weixin>          
            </ol>
        </div>
    </div>
			
		</div>


		<div class="clear"></div>
	</div>
<include file="Public:footer"/>