<include file="Public:header"/>
<div class="main">
    <div class="position">
        <span>当前位置：</span>
        <a href="__APP__">首页</a> &gt; 
        <volist name="position" id="vo">
            <a href="{:U('Article/index',array('id'=>$vo['id']))}">{$vo.catname}</a> &gt; 
        </volist>
    </div>
    <div class="newsbox">
        <div class="newsl">
            <div class="newslist">
                <ul>
                    <volist name="list" id="vo">
                    <li {$key%2==0?'':'class="whitebg"'}>                            
                        <dl>
                            <?php
                                $url = U('Article/show',array('id'=>$vo['id']));
                                $enUrl = "http://".$_SERVER["HTTP_HOST"].urlencode($url);
                            ?>
                            <dd class="tit"><a href="<?=$url?>" target="_blank"><b>{$vo.title}</b></a></dd>
                            <dd class="time">{$vo.create_time|date='Y-m-d H:i',###}&nbsp;&nbsp;浏览{$vo.hits}次</dd>
                            <dd class="desc"><div style="width:545px;">{$vo.content|strip_tags|msubstr=0,95}</div></dd>
                            <dd style="position:absolute;left: 558px;top: -7px;">
                                 <div style="width:125px;height:125px;">
                                    <img src="__APP__/qrlib?size=2&width=120&height=120&content=<?=$enUrl?>" width="120" height="120">
                                </div>
                            </dd>
                        </dl>
                    </li>
                    </volist>
                </ul>
            </div>
            <div class="page">
                {$page}
            </div>
        </div>
        <div class="newsr">
        <include file="Public:ggw" />
        <include file="Public:gzphb" />
        <include file="Public:zxsl" />
        </div>
    </div>
</div>
<include file="Public:footer"/>
