<include file="Public:header"/>

<div class="main">
    
    <div class="position">
        <span>当前位置：</span><a href="__APP__">首页</a> &gt; 
        <volist name="position" id="vo">
            <a href="{:U('Article/index',array('id'=>$vo['id']))}">{$vo.catname}</a> &gt; 
        </volist>
    </div>
    
    <div class="newsbox">
        <div class="newsl">
            <div class="view" style="padding-bottom: 20px;">
                <div class="title">
                    <h1>{$data.title}</h1>
                    <div class="info"><span>发布时间：{$data.create_time|toDate='Y-m-d H:i'}</span><span>浏览{$data.hits}次</span></div>
                </div>
                <div class="clear"></div>
                <div class="content">   
                    <notempty name="data.thumb"><img src="__ROOT__/Uploads{$data.thumb}" /><br></notempty>
                    {$data.content}
                </div>
                <div class="prev_next_nav">
                    <span class="prev">上一篇：<empty name="prevdata">第一篇<else /><a href="{:U('Article/show',array('id'=>$prevdata['id']))}" target="_blank">{$prevdata['title']|msubstr=0,20}</a></empty></span>
                    <span class="next">下一篇：<empty name="nextdata">最后一篇<else /><a href="{:U('Article/show',array('id'=>$nextdata['id']))}" target="_blank">{$nextdata['title']|msubstr=0,20}</a></empty></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="newsr">
        <div class="rbox" style="position: relative;">
            <?php
                $enUrl = urlencode('http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING']);
            ?>
            <img src="__APP__/qrlib?size=3&margin=0&width=120&height=120&content=<?=$enUrl?>" alt="erweima"></img>
            <span style="position:absolute;top:0px;left:125px;font-size: 30px;
font-family: Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Helvetica Neue,Helvetica,Arial,sans-serif;">扫一扫</br>神传输</span>
        </div>
        <include file="Public:gzphb" />
        <include file="Public:zxsl" />
        </div>
    </div>
</div>

<include file="Public:footer"/>
