<include file="Public:header" />
<div class="main">
    <div class="box_tit">
        <h2>添加专题</h2>
    </div>
    <div class="operate">
        <div class="fLeft"><input type="button" onclick="addTopic()" class="submit btn5" value="添加选中"></div>
		<div class="fLeft"><input type="button" onclick="history.back()" class="submit btn5" value="返回"></div>
        <!--<div class="fLeft"><input type="button" onclick="foreverdel()" class="submit btn5" value="删除选中"></div>-->
        <div class="fLeft">
        </div>
    </div>
    <div class="list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="nbg">
                <th><input type="checkbox" id="check"></th>
                <th>编号</th>
                <th>标题</th>
               
                <th>发表时间</th>
                <th>状态</th>
                <th>排序值</th>
            </tr>
            <volist name="list" id="vo">
            <tr>
                <td><input type="checkbox" name="key" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
               
                <td>{$vo.create_time|toDate='Y-m-d'}</td>
                <td>{$vo.status|getMessageStatus}</td>
                <td>
					<input type="text" name="order" value="0"></td>
				</td>
            </tr>
            </volist>
            </tbody>
        </table>
        <div class="th" style="clear: both;">{$page}</div>
    </div>
</div>
<include file="Public:footer" />