<include file="Public:header"/>
	<link rel="stylesheet" href="../Public/css/ostyle.css">
	<script type="text/javascript" src="../Public/js/jquery.min.js"></script>
	<style type="text/css">
	.item.pop div.title{font-family:"Microsoft Yahei";font-size:15px;text-align:left;margin:0;padding:5px 0 0 0;text-align: left;}
	.item.pop div.star{color:#F00;text-align:left;}
	.item.pop div.rate{color:#999;text-align:left;}
	.item.pop div.des{overflow:hidden;}
	.item.pop div.des p{text-indent:24px;}
	</style>
	<link rel="stylesheet" href="../Public/css/list_bizhi.css">
	<script type="text/javascript" src="../Public/js/list.js" ></script>
	<div id="main">

		<div id="bread">   
	    	<a href="__APP__">首页</a><span>&gt;</span>
	        <volist name="position" id="vo">
                <a href="{:U('bizhi/index',array('id'=>$vo['id']))}">{$vo.catname}</a> &gt; 
             </volist>
		</div>


		<div id="sider">
			<h1><a href="#">类别</a></h1>
			<ul>
				<?php
					$model = new CommonModel("category");
					$data = $model->where(array("pid"=>array("eq",139)))->select();
					foreach($data as $key=>$value)
					{
				?>
					<li class="siderli <?php if($data[$key]["id"]==$id)echo 'cur';?>"><a href="__ACTION__?m=bizhi&a=index&id=<?=$data[$key]["id"]?>&o=1"><?=$data[$key]["catname"]?></a></li>
				<?php } ?>
			</ul>
		</div>




		<div id="content">
			<div id="contetn_title">
				<a class="<?php if($o==1)echo 'cur';?>" href="__ACTION__?m=bizhi&a=index&id={$_GET.id}&o=1">按最新</a>
				<a class="<?php if($o==2)echo 'cur';?>" href="__ACTION__?m=bizhi&a=index&id={$_GET.id}&o=2">按访问量</a>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
						$(".item").mouseover(function(){
							$(this).children().eq(0).children().eq(0).hide();
							$(this).children().eq(0).children().eq(1).show();
						}).mouseout(function(){
							$(this).children().eq(0).children().eq(1).hide();
							$(this).children().eq(0).children().eq(0).show();
						});

				});
			</script>
			<div id="list_1" class="list_x cur">
				<volist name="list" id="vo">
					<?php
						$url = U('Bizhi/show',array('id'=>$vo['id']));
                        $picurl = __ROOT__."/Uploads".$vo["thumb"];
                        $enUrl = "http://".$_SERVER["HTTP_HOST"].urlencode($picurl);
                    ?>
					<div class="item" style="width: 153px;height: 283px;">
						<a href="<?=$url?>" target="_blank">
							<img class="abs" src="__ROOT__/Uploads{$vo.thumb}" alt="icon" width="153" height="256">
							<img style="display:none;"src="__APP__/qrlib?size=3&margin=0&width=153&height=256&content=<?=$enUrl?>" alt="erweima" width="153" height="256">
							<span style="display: inline-block;margin-top: 6px;" class="name">{$vo.title|msubstr=0,10}</span>
							<!--h6 class="guanzhu"><a href="#">加关注</a></h6-->
						</a>
					</div>
				</volist>
			</div>
			<div style="float:right;margin-top:5px;clear:both;">
				{$page}
			</div>
		</div>
	
	<div class="clear"></div>
	</div>
<include file="Public:footer"/>