body{background:#fff;font-family: "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;}
#main{width:960px;margin:auto;padding-top:10px;background:#f4f4f4;margin-top: 5px;}

#bread{border:1px solid #dedede;padding:5px 20px;margin-bottom:10px; margin-top:0px;
	background:-moz-linear-gradient(left,#fff,rgba(248,248,248,0) 150px),-moz-linear-gradient(right,#fff,rgba(248,248,248,0) 150px),-moz-linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
	background:-webkit-linear-gradient(left,#fff,rgba(248,248,248,0) 150px),-webkit-linear-gradient(right,#fff,rgba(248,248,248,0) 150px),-webkit-linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
	background:linear-gradient(left,#fff,rgba(248,248,248,0) 150px),linear-gradient(right,#fff,rgba(248,248,248,0) 150px),linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
}
#bread a:hover {color:#016bc2}


#main_head{background:#eee;margin-bottom:10px;}
#l{width:740px;float:left;}
#l>img{float:left;margin:20px;}

#m_h_t{float:left;width:540px;padding-bottom:5px;margin-bottom:5px;margin-top:10px;border-bottom:1px dotted #555;}
#m_h_t>h2{display:inline;font-size:30px;line-height:20px;color:#666;}
#m_h_t>span{margin-left:10px;}
#m_h_t>a:hover{color:#019ADD;}

#m_h_c{float:left;width:540px;}
#m_h_c>li{float:left;width:270px;margin:5px 0;}
#m_h_c>li>span{padding:0 5px;margin-right:10px;letter-spacing:1px;border:1px solid #aaa;border-left:10px solid #bbb;}
#main_head>p{width:1em;float:left;line-height:1em;padding:10px 5px;margin-top:15px;margin-left:5px;background:#bbb;}
#main_head>img{float:right;margin:20px;}

 
#content_xjp{width:670px;float:left;}
.content_n{margin:10px 0;}
.content_title{margin-bottom:10px;line-height:28px;border-bottom:1px solid #016bc2;}
.content_title a{padding:2px 10px;font-size:18px;font-weight:600;border-bottom:3px solid #016bc2;}

#content_1 .content_m p{font-size:16px;text-indent:2em;line-height:2em;}

#content_3 .content_m {margin:0 5px;}
#content_3 .content_m li {float:left;margin:9px;padding:5px;border:1px solid #ccc;}
#content_3 .content_m li:hover{border-color:#44aef4;background:#eee;}
#content_3 .content_m li img{display:inherit;}
#content_3 .content_m li img.icon{position:absolute;}
#content_3 .content_m li:hover img.icon{display:none;}
#content_3 .content_m li h4{font-weight:normal;}
#content_3 .content_m li:hover h4{color:#016bc2}


.commentform{border-bottom:1px solid #bbb;}
.commenttxt textarea{width:640px;max-width:640px;height:130px;padding:5px;font-size:16px;}
.commentcheckcode{float:left;}
#verify{padding:3px 5px;margin:5px 0;font-size:14px;height:22px;}
.commentcheckcode img{height:30px;margin-left:10px;}
.commentsubmit{text-align:right;}
.commentsubmit input{margin-bottom:10px;margin-top:5px;height:30px;background:#019ADD;color:#fff;border:#016bc2 1px solid;border-radius:4px;cursor:pointer;}
.commentsubmit input:hover{background:#0184d0;}
.commentsubmit input:active{background:#016bc2;}

#content_4 .content_m{padding:0 10px;border:1px solid #bbb;}

.commentinfo{margin:10px 0;padding:5px 0;border-bottom:1px solid #bbb;}
.memberimg{float:left;margin-right:10px;}
.commentcontent{text-indent:2em;}

#sider{float:left;}
.r { float:none;width: 280px; height: 325px; margin-left: 8px; margin-top: 10px;background: #eee; }
.rt { width: 280px; height: 33px; float: left; border-bottom: 1px solid #fff; }
.rt h2 { color: #272727; float: left; font-size: 16px; height: 33px; line-height: 33px; text-indent: 10px; }
.rt a { color: #979797; margin-right: 10px; line-height: 33px; }
.index-side02 { color: #333; padding: 13px 0px; }
.index-side { color: #333; border-top: 1px solid #e0e0e0; float: left; width: 280px; }
.index-side img { vertical-align: middle;/* margin-right:8px;*/ }
.index-side code { float: right; width: 11px; overflow: hidden; }
.index-side li { height: 20px; padding-top: 10px; }
.index-side li:hover { background: #e4e4e4; }
.index-side02 li { padding: 5px 16px; height: 22px; overflow: hidden; }
.index-side span { border: 1px solid #D7D7D7; color: #8D8D8D; width: 19px; height: 19px; line-height: 19px; text-align: center; background: white; margin: 0 10px 0 0; display: inline-block; }
.none { display: none; }

