#main{width:940px;margin:auto;padding:10px;background:#f4f4f4;margin-top:3px;}



#bread{border:1px solid #dedede;padding:5px 20px;margin-bottom:5px; 
	background:-moz-linear-gradient(left,#fff,rgba(248,248,248,0) 150px),-moz-linear-gradient(right,#fff,rgba(248,248,248,0) 150px),-moz-linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
	background:-webkit-linear-gradient(left,#fff,rgba(248,248,248,0) 150px),-webkit-linear-gradient(right,#fff,rgba(248,248,248,0) 150px),-webkit-linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
	background:linear-gradient(left,#fff,rgba(248,248,248,0) 150px),linear-gradient(right,#fff,rgba(248,248,248,0) 150px),linear-gradient(top,#e4e4e4,rgba(248,248,248,0.3) 5px);
}
#bread a:hover {color:#016bc2}


#sider{width:199px;text-align:center;float:left;}
#sider h1{line-height:45px;border-bottom:1px solid #ccc;}
#sider h1 a{color:#016bc2;font-size:25px;}
#sider ul{margin-top:10px;}
.siderli{line-height:30px;}
.siderli a{padding:5px 65px}
.siderli:hover{background:#019ADD}
.siderli:hover a{color:#fff;}
.siderli.cur{background:#019ADD;}
.siderli.cur a{color:#fff;font-weight:800;}

#content{width:740px;float:left;border-left:1px solid #ccc;}
#contetn_title {margin-top:20px;margin-left:10px;border-bottom:1px solid #019ADD;}
#contetn_title a{line-height:30px;padding:5px 20px 6px 20px;}
#contetn_title a.cur{background:#019ADD;color:#fff;font-weight:800;}


.item{margin-top:10px;margin-left:10px;padding:2px;position:relative;float:left;width:106px;cursor:pointer;}
.item img.abs{top:2px;left:2px;position:absolute;}
.item:hover {background:#ddd;}

.item .name{line-height: 27px;}
.item .time{float:right;line-height:27px;}
.guanzhu {height:0px;line-height:30px;text-align:center;background:#019ADD;border-radius:4px;}
.item:hover .guanzhu{height:100%;}
.guanzhu a{color:#fff;}




.list_x{display:none;}
.list_x.cur{display:block;}