*{margin:0;padding:0;}
a{color:#555;text-decoration:none;}
ul,li{list-style:none;}
body{background:#eee;font-family: "微软雅黑","宋体",arial,helvetica,sans-serif;font-size:14px;}
input, label, img, th{vertical-align:middle;border:0;}
.clear{clear:both;}

#head{width:960px;height:57px;margin:auto;background:#e2e2e2;}
#foot{width:100%;height:57px;margin:auto;background:#e2e2e2;}


