html { color: #000; background: #FFF; -webkit-text-size-adjust: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { font: 12px/1.5 Arial, Helvetica, sans-serif; font-family: 微软雅黑; background: white; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select { *font-size:100%;
}
legend { color: #000; }
input:focus { outline: none; }
a { color: #6e7278; text-decoration: none; }
a:hover { color: #487802; text-decoration: none; }
.topbar { width: 980px; height: 57px; margin: 0px auto; }
.topbar .logo { width: 330px; height: 55px; float: left; /*padding: 25px 0px 22px;*/ }
.topbar .logo span { font-size: 16px; line-height: 54px; vertical-align: bottom; }
.search {float:right;}
.search input
{
display: inline;
float: left;
height: 24px;
line-height: 26px;
margin-top: 4px;
width: 175px;
border: 1px solid #DDDDDD;
font-size: 14px;
padding-left: 3px;
}
.search input.button
{
display: inline;
float: left;
height: 26px;
width: 32px;
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
background: #3C752D url("../source/search_buttom.jpg") no-repeat left center;
}
.index_sreach { width: 300px; height: 23px; margin-right: 4px; padding-left: 5px; line-height: 23px; background: none; border: none; color: #999; font-size: 12px; text-indent: 5px; }

.focus { width: 980px; height: 260px; margin: 0px auto; margin-top: 10px; margin-bottom: 10px;}
.flash { width: 690px; height: 260px; float: left; }
.box335-2 { background: none repeat scroll 0 0 #FFFFFF; width: 690px; height: 260px; float: left; }
.fPic03 { height: 260px; position: relative; width: 690px; }
.bigPic03 { position: absolute; }
.dotList12 { position: absolute; right: 3px; top: 243px; }
.dotList12 li { background: url("../source/i_dot.gif") no-repeat scroll right top transparent; cursor: pointer; display: inline; float: left; height: 7px; margin: 0 7px 0 0; width: 7px; }
.textbg { background: none repeat scroll 0 0 #000000; height: 60px; left: 0; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; position: absolute; top: 200px; width: 690px; }
.text12 { height: 60px; left: 10px; line-height: 60px; position: absolute; top: 200px; width: 680px; }
.dotList12 li.current { background: url("./source/i_dot.gif") no-repeat scroll left top transparent; }
#prevSlide, #nextSlide { cursor: pointer; height: 34px; left: 0; position: absolute; text-align: center; top: 100px; width: 35px; z-index: 10; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; }
#prevSlide img, #nextSlide img { left: 12px; position: absolute; top: 9px; z-index: 12; background: none; border: none; padding: 0px; }
.btnBg { background: none repeat scroll 0 0 #000000; height: 34px; left: 0; opacity: 0.6; position: absolute; top: 0; width: 35px; z-index: 11; }
#nextSlide { left: 655px; }
.cWhite a { color: #ffffff; font-weight: bold; font-size: 24px; text-decoration: none; }
.cWhite a:hover { color: #ffffff; font-weight: bold; font-size: 24px; text-decoration: none; }
ul { margin: 0px; padding: 0px }
li { margin: 0px; padding: 0px }
h3 { margin: 0px; padding: 0px }
.bigPic03 a img { border: none; padding: 0px }
.newhua { width: 280px; height: 260px; float: left; margin-left: 8px; background: #54777b; }
.im { width: 690px; height: 325px; float: left; margin-top: 10px; }
.t { width: 690px; height: 33px; float: left; border-bottom: 2px solid #dadada; }
.t h2 { color: #272727; float: left; font-size: 16px; border-bottom: 2px solid #4cc9b6; height: 33px; line-height: 33px; }
.t a { color: #979797; line-height: 33px; }
.con { position: relative;width: 690px; height: 300px; float: left;}
.con ul, .con02 ul { margin-left: -17px; zoom: 1; }
.con li, .con02 li { position:relative;margin: 10px 0 3px 17px; width: 80px; _height: 120px; float: left; display: inline; }
.con li:hover, .con02 li:hover, .con03 li:hover { background: #e9e8e6; }
.con img, .con02 img { vertical-align: middle; }
.con02 h3 { margin-top: 8px; font-size: 14px; color: #6e7278; height: 20px; overflow: hidden; }
.con03 li { margin: 5px 0 2px 9px; border: 2px solid white; }
.con03 h3 a { color: #6e7278; text-decoration: none; }
.con h3, .con02 h4 { font-size: 12px; text-align: left; white-space: nowrap; height: 25px; line-height: 25px; }
.con-more, .downmore { margin-top: 12px; color: #c1c1c1; padding-bottom: 5px; }
.con-more { height: 82px; padding: 2px 0 0 2px; }
.con-more:hover { background: #e9e8e6; border: 2px solid #e9e8e6; height: 80px; padding: 0; }
.con-more a, .downmore a, .con-more a:hover, .downmore a:hover { color: #c1c1c1; }
.con-more img/*,.downmore img*/ { float: left;/* margin-right:14px;*/ }
.downmore h3 { color: #6e7278; font-size: 14px; display: inline; padding-right: 5px; }
.con-more h3 { color: #6E7278; display: inline-block; font-size: 14px; height: 20px; overflow: hidden; padding-right: 5px; width: 80px; }
.con-more span { color: #F57D20; padding-right: 18px; }
.downmore span { color: #f57d20; padding-right: 36px; }
.con-more strong { color: #487939; margin-right: 3px; }
.downmore strong { color: #487939; }
.con-more em {width: 69px; height: 12px; display: block; margin-right: 5px; float: left; }
.downmore em {width: 69px; height: 12px; display: block; margin-right: 5px; display: inline-block; }
.con-more p img { vertical-align: middle; }
/*软件提示*/
.downmore { width: 180px; height: 160px; padding-left: 10px; margin: -126px 0 0 80px; position: absolute; }
.downmore-text { color: #6e7278; }
.downmore02 { margin: -43px 0 0 -190px; padding: 0 10px 0 0; *position:relative;
}
span.downmore02 { color: #f57d20; padding-right: 36px; border: 0; width: auto; }
.downmore-bg { padding: 8px 10px; height: 160px; overflow: hidden; border: 2px solid #558a00; background: white; }
.downbtn { width: 78px; height: 18px; color: #666; position: absolute; margin: -18px 0 0 0; }
.downbtn a, .downbtn span { width: 78px; height: 18px; display: block; font-size: 10px; line-height: 18px; text-align: center; border: 1px solid #b1b1b1; background: #e4e4e4; color: #6e7278; }
.downbtn span { padding: 0; }
.downbtn a:hover, .widescreen .downbtn span:hover, .downbtn span:hover { background: #487802; color: white; border: 1px solid #487802; text-decoration: none; cursor: pointer; }
.downbtn02 { width: 58px; height: 18px; color: #666; position: absolute; margin: 0 0 0 190px; }
.downbtn02 a, .downbtn02 span { width: 78px; height: 18px; display: block; font-size: 10px; line-height: 18px; text-align: center; border: 1px solid #b1b1b1; background: #e4e4e4; }
.downbtn02 a:hover, .downbtn02 span:hover { background: #487802; color: white; border: 1px solid #487802; text-decoration: none; cursor: pointer; }
.downbtn2 { margin: -20px 0 0 74px; *margin:-12px 0 0 0px!important;
_margin: -18px 0 0 0; }
.list { width: 100%; height: 100%; float: left; margin-left: 10px; margin-top: 10px; background: #eee; }
.zone { width: 690px; height: 335px; margin: 0px auto; margin-top: 10px;float: left; }
.l { width: 690px; height: 335px; float: left; }
.r { z-index:100;position: relative;width: 280px; height: 325px; float: right; margin-left: 8px; margin-top: 10px;background: #eee; }
.bottom { width: 940px; height: 240px; margin: 0px auto; padding: 20px 0px 0px 40px; margin-top: 10px; background: #35393c; border-top: 15px solid #000; }
.b1 { width: 155px; height: 240px; float: left; }
.b1 h2 { width: 155px; height: 35px; float: left; line-height: 35px; font-size: 18px; font-weight: bold; color: #fff; }
.b1 ul { width: 155px; height: 205px; float: left; }
.b1 ul li { width: 155px; height: 25px; float: left; line-height: 25px; color: #fff; }
.b1 ul li a:link, #ft .pb_ft li a:link, #ft a:link { color: #babcbd; text-decoration: none }
.b1 ul li a, #ft .pb_ft li a, #ft a { color: #babcbd; text-decoration: none; }
.b1 ul li a:hover,  #ft .pb_ft li a:hover,  a:focus, #ft a:hover, { background: #fff; color: #35393c; text-decoration: none; }
.b2 { width: 314px; height: 240px; float: left; }
.b2 h2 { width: 314px; height: 35px; float: left; line-height: 35px; font-size: 18px; font-weight: bold; color: #babcbd; }
.b2 ul { width: 314px; height: 205px; float: left; }
.b2 ul li { width: 155px; height: 25px; float: left; line-height: 25px; color: #fff; }
.b2 ul li a:link { color: #babcbd; text-decoration: none }
.b2 ul li a { color: #babcbd; text-decoration: none; }
.b2 ul li a:hover,{ background: #babcbd; color: #1fa9f0; text-decoration: none; }
#ft { margin: 0px auto; width: 580px; height: 130px; padding: 20px 90px 20px 310px; background: #35393c url(http://www.zhaogonghao.com/statics/images/ft_bg.png) 80px 15px no-repeat; _background: #35393c url(http://www.zhaogonghao.com/statics/images/ft_bg.gif) 80px 15px no-repeat; text-align: left; color: #babcbd; border-top: 15px solid #000; line-height: 27px; }
#ft .pb_ft { width: 460px; height: 30px; margin-bottom: 10px; }
#ft .pb_ft .ft_nv1 { background: url(http://www.zhaogonghao.com/statics/images/ft_nav.png) 4px -3px no-repeat; _background: url(http://www.zhaogonghao.com/statics/images/ft_nav.gif) 4px -3px no-repeat; }
#ft .pb_ft .ft_nv2 { background: url(http://www.zhaogonghao.com/statics/images/ft_nav.png) 4px -33px no-repeat; _background: url(http://www.zhaogonghao.com/statics/images/ft_nav.gif) 4px -33px no-repeat; }
#ft .pb_ft .ft_nv3 { background: url(http://www.zhaogonghao.com/statics/images/ft_nav.png) 4px -63px no-repeat; _background: url(http://www.zhaogonghao.com/statics/images/ft_nav.gif) 4px -63px no-repeat; }
#ft .pb_ft .ft_nv4 { background: url(http://www.zhaogonghao.com/statics/images/ft_nav.png) 4px -93px no-repeat; _background: url(http://www.zhaogonghao.com/statics/images/ft_nav.gif) 4px -93px no-repeat; }
#ft .pb_ft li { width: 66px; height: 30px; float: left; padding-left: 34px; font-size: 14px; }
.rt { width: 280px; height: 33px; float: left; border-bottom: 1px solid #fff; }
.rt h2 { color: #272727; float: left; font-size: 16px; height: 33px; line-height: 33px; text-indent: 10px; }
.rt a { color: #979797; margin-right: 10px; line-height: 33px; }
.index-side02 { color: #333; padding: 13px 0px; }
.index-side { color: #333; border-top: 1px solid #e0e0e0; float: left; width: 280px; }
.index-side img { vertical-align: middle;/* margin-right:8px;*/ }
.index-side code { float: right; width: 11px; overflow: hidden; }
.index-side li { height: 20px; padding-top: 10px; }
.index-side li:hover { background: #e4e4e4; }
.index-side-list { border: 1px solid #dadada; background: #f3f3f3; padding: 12px 18px; color: #333; }
.side-list01 li { color: #797979; line-height: 24px;padding-left: 10px; }
.side-list02 li { width: 100px; float: left; color: #777; }
.side-list02 .w120 { width: 120px; }
.index-side02 li { padding: 5px 16px; height: 22px; overflow: hidden; }
.side-list02 span { float: right; }
.side-list03 li { color: #797979; line-height: 24px; }
.index-side-list dt { background: #9ac1c5; color: white; width: 76px; height: 40px; line-height: 40px; text-align: center; float: left; margin: 5px 15px 0 0; }
.index-side-list dd { float: left; width: 150px; line-height: 23px; padding-bottom: 10px; }
.index-side-list span { padding: 0 10px; color: #bfbfbf; }
.none { display: none; }
.index-side span { border: 1px solid #D7D7D7; color: #8D8D8D; width: 19px; height: 19px; line-height: 19px; text-align: center; background: white; margin: 0 10px 0 0; display: inline-block; }
.downbtn02 a, .downbtn02 span { width: 58px; height: 18px; display: block; font-size: 10px; line-height: 18px; text-align: center; border: 1px solid #B1B1B1; background: #E4E4E4; }
span.list-current { background: #9ac1c5; color: white; border: 1px solid #9ac1c5; }
span.downmore02 { color: #F57D20; padding-right: 36px; border: 0; width: auto; }
.arrow02 {background: url(http://www.zhaogonghao.com/statics/images/arrow_icon02.png) no-repeat  0 0; width: 10px; height: 12px; overflow: hidden; position: absolute; margin: 26px 0 0 178px; }
.login-bg { background: #54777b; height: 146px; padding: 10px 10px 0; width: 260px; }
.add { background: white; width: 260px; height: 45px; padding-top: 10px; color: #8d8d8d; }
.add li { border-right: 1px solid #ddd; width: 105px; padding-left: 24px; float: left; line-height: 20px; }
.add-sc { color: #54777b; font-size: 24px; font-family: Arial, Helvetica, sans-serif; }
.add-jp { color: #ff7e00; font-size: 24px; font-family: Arial, Helvetica, sans-serif; }
.login-bg .br0 { border-right: 0; }
.add02 { width: 260px; padding-top: 5px; color: #aabbbd; }
.add02 ul { margin-left: -12px; overflow: hidden; zoom: 1; }
.add02 li { border-right: 1px solid #769295; /*width:74px;*/ width: 105px; padding-left: 24px; margin-left: 12px; float: left; line-height: 17px; display: inline; }
.add02 em { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: white; padding-top: 5px; display: block; }
.sitead { width: 170px; height: 80px; float: left;padding: 10px 10px 10px 100px; color: #aabbbd; line-height: 25px; font-size: 12px; }
.content { width: 980px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
.table_block { width: 690px; font-size: 14px; line-height: 24px; border-bottom: 1px solid #dadada; }
.table_block dl { }
.table_block dl dt { font-size: 16px; padding: 16px 0 4px; width: 73px; float: left; padding-left: 2px; }
.table_block dl dt a { color: #272727; }
.table_block dl dt a:hover { }
.table_block dl dd { padding: 16px 0 4px 10px; width: 604px; float: left; }
.table_block dl dd a { display: inline-block; margin-left: 15px; }
.table_block dl dd a:hover { }
.table_block dl dt { border-bottom: 1px solid #dadada; }
.table_block dl dd { border-bottom: 1px solid #dadada; }
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.liveproduct { float: right; margin-top: 30px; margin-left: 20px; }
.liveproduct p { color: #6E7278; font-family: 微软雅黑; font-size: 14px; position: relative; top: 4px }
.liveproduct p span { padding: 0 10px; }
.recommend_enter_block { float: right; width: 280px; height: 260px; background-color: #e4e4e4; }
.recommend_title {  height: 35px;/*background: url("../source/index_title_1.png") no-repeat left top;*/background-color: #D3D3D3; font-size: 16px; line-height: 35px; text-align: center; padding-right: 16px; color: #fff; }
.recommend_minitit { margin-bottom: 6px; font-size: 12px; line-height: 19px; height: 19px; padding-left: 16px; }
.recommend_minitit .bg { width: 68px; height: 19px; display: inline-block; background: url("../source/index_bg.png") no-repeat left top; padding-left: 13px; margin-right: 10px; }
.recommend_minitit .special { display: inline-block; width: 68px; height: 17px; background-color: #199900; color: #fff; text-align: center; line-height: 17px; }
.code_block { padding-left: 16px; padding-top: 6px; }
.code_block img { width: 90px; height: 90px; float: left; margin-right: 15px; }
.code_block .description { width: 148px; float: left; line-height: 22px; }
.baiku_block{border:1px solid #dedede;margin-top:10px;}
.baike_title{border-bottom:1px solid #dedede;background-color:#eee;line-height:36px;color:#272727;text-indent:10px;font-size:16px;}
.baike_list{padding:5px;}
.baike_list li{padding:10px 5px;border-bottom:1px solid #eee;}
.baike_list li img{width:60px;height:60px;float:left;border:1px solid #dedede;}
.baike_list li .fr{width:200px;float:right;}
.baike_list li .fr p{color:#666;font-size:12px;}
.baike_list li .fr .title{color:#333;font-size:14px;padding-bottom:3px;}
.baike_list li .fr .title a{color:#333;}
.friend_link{width:980px;margin-left:auto;margin-right:auto;margin-top:15px;}
.friend_tag_1{padding:15px 10px 20px;}
.friend_tag_1 a{margin-right:20px;}



.col{background-color: #199900; text-decoration: none; color: #FFFFFF;}
a{color: #000000; text-decoration: none;}
.hui{color: #6E7278;}
span{color: #000000;}
/*.nav ul li {
    border-left: 1px solid #C5E9F9;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 87px;
}
.nav ul li a {
    color: #FFFFFF;
    display: block;
    height: 33px;
    line-height: 33px;
    margin: 0 0 2px;
    padding: 1px 0;
    text-align: center;
    width: 87px;
}*/




*{margin:0;padding:0;}

li{ list-style: none; }

#footer_box {background-color:#E7E8EA;border-top:1px solid #BBBBBB;margin-top:20px;padding:10px 0;}

#footer_box .footer_text { margin: 0 auto; width:980px; }

#footer_box .footer_text .footer_code { float: left; margin: 10px 0 0; text-align: center; width: 300px; }

#footer_box .footer_text .footer_code img { border: 1px solid #CCCCCC; height: 120px; margin: 0 auto; width: 120px; }

#footer_box .footer_right {font-size:12px;color: #595959; margin: 10px 0; text-align: center; }

#footer_box .footer_nav { margin: 20px auto; width: 300px; }

#footer_box .footer_nav ul { margin: 0 auto; width: 570px; }

#footer_box .footer_nav ul li { float: left;font-size:12px;}

#footer_box .footer_nav ul li a {color:#595959; text-decoration:none;background: url("img/right_line.gif") no-repeat scroll right top rgba(0, 0, 0, 0); padding: 0 10px; }

#footer_box .footer_nav ul li a:hover { }

.footer_items {float: left; margin: 10px 0;padding: 0 0 0 70px;width: 170px;}

.footer_items .footer_items_title { font-size: 18px; font-family: "微软雅黑"; font-weight:lighter; }

.footer_items ul { margin: 8px 0 0; }

.footer_items ul li {color: #595959;font-size:14px;line-height: 23px; }

.footer_items ul li a { font-size: 14px;color:#595959; text-decoration:none;}

.footer_items ul li a:hover { color: #AAAAAA; text-decoration: underline; }

.right_line{width:170px;}

.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block;}

.main_wrap_why
{
	width: 980px;
	margin: 0 auto;
}

.sub_wrap_why
{
	width: 570px;
	position: absolute;
	margin-left:60px;
}

.prevWrap,.nextWrap
{
	position:absolute;
	background: none repeat scroll 0 0 #000000;
	cursor: pointer;
	height: 34px;
	width: 35px;
	text-align: center;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	z-index: 1000;
}

.guanzhu
{
	width: 70px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #4cc9b6;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	margin:2px 5px;
}

.guanzhu_shouye
{
	margin-left:160px;
	margin-top:13px;
	width: 70px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #4cc9b6;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;

}


.desc
{
	font-size: 13px;
	padding-top:17px;
	padding-left: 10px;
}