<include file="Public:header" />
<div class="main">
    <div class="box_tit">
        <h2>内容列表</h2>
    </div>
    <div class="operate">
        <div class="fLeft"><input type="button" onclick="add({$catid})" class="submit btn5" value="添加内容"></div>
        <div class="fLeft"><input type="button" onclick="foreverdel()" class="submit btn5" value="删除选中"></div>
        <div class="fLeft">
            <form method="post" action="{:U('Bizhi/index')}">
                <input type="text" name="name" title="标题" class="iptt6"><input type="hidden" name="catid" value="{$catid}">
                <select name="zt">
                    <option value="-2" <eq name="zt" value="-2">selected="selected"</eq>>全部</option>
                    <option value="2" <eq name="zt" value="2">selected="selected"</eq>>待审核</option>
                    <option value="0" <eq name="zt" value="0">selected="selected"</eq>>未通过</option>
                    <option value="1" <eq name="zt" value="1">selected="selected"</eq>>已审核</option>
                </select>
                <input type="submit" class="submit btn5" value="查  询">
            </form>
        </div>
    </div>
    <div class="list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="nbg">
                <th><input type="checkbox" id="check"></th>
                <th>编号</th>
                <th>标题</th>
               
                <th>发表时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
            <tr>
                <td><input type="checkbox" name="key" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
               
                <td>{$vo.create_time|toDate='Y-m-d'}</td>
                <td>{$vo.status|getMessageStatus}</td>
                <td>
                    <if condition="$vo.status eq 2">
                        <a href="{:U('Bizhi/checkPass',array('id'=>$vo['id']))}">通过</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{:U('Bizhi/forbid',array('id'=>$vo['id']))}">不通过</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </if>
                    <a href="{:U('Bizhi/edit',array('id'=>$vo['id']))}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Bizhi/foreverdelete',array('id'=>$vo['id']))}" onclick="foreverdel({$vo['id']}); return false;">删除</a>
                </td>
            </tr>
            </volist>
            </tbody>
        </table>
        <div class="th" style="clear: both;">{$page}</div>
    </div>
</div>
<include file="Public:footer" />