<include file="Public:header" />
<div class="main">
    <div class="box_tit">
        <h2>幻灯片列表</h2>
    </div>
    <div class="operate">
        <div class="fLeft"><input type="button" onclick="add()" class="submit btn5" value="添加幻灯片"></div>
		<div class="fLeft"><input type="button" onclick="addTopicJump()" class="submit btn5" value="添加专题"></div>
        <div class="fLeft"><input type="button" onclick="foreverdel()" class="submit btn5" value="删除选中"></div>
        <div class="fLeft">
            <form method="post" action="{:U('Slide/index')}">
                <input type="text" name="name" title="幻灯片名称" class="iptt6">
                <input type="submit" class="submit btn5" value="查  询">
            </form>
        </div>
    </div>
    <div class="list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="nbg">
                <th><input type="checkbox" id="check"></th>
                <th>编号</th>
                <th>幻灯片标题</th>
                <th>排序</th>
                
                <th>状态</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
            <tr>
                <td><input type="checkbox" name="key" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.listorder}</td>
                <td>{$vo.status|getShowStatus}</td>
                <td><a href="{:U('Slide/edit',array('id'=>$vo['id']))}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Slide/foreverdel',array('id'=>$vo['id']))}" onclick="foreverdel({$vo['id']}); return false;">删除</a></td>
            </tr>
            </volist>
            </tbody>
        </table>
        <div class="th" style="clear: both;">{$page}</div>
    </div>
</div>
<include file="Public:footer" />