﻿
<div id="footer_box">

   <div class="link">
        <ul>
            <li><span>友情链接:</span></li>
            <volist name="flist" id="vo">
                <if condition="$vo['type'] eq 0 ">
                    <if condition="$vo['linktype'] eq 0">
                    <li><a href="{$vo.url}" target="_blank">{$vo.name}</a</li>
                    </if>
                </if>
            </volist>
            <li><a href="{:U('Link/index')}" style="color:red;">更多&gt;</a></li>
        </ul>
    </div>


    <div class="footer_nav">

        <ul>

            <li><a href="__APP__" target="_blank">微信导航</a></li>

            <li><a href="https://mp.weixin.qq.com/cgi-bin/loginpage?t=wxm2-login&lang=zh_CN" target="_blank">微信公众平台</a></li>

            <li><a href="{:U('Member/register')}" target="_blank">免费注册</a></li>

            <li><a href="#" target="_blank">关于我们</a></li>

        </ul>

    </div>

    <div class="clearfix"></div>

    <div class="footer_right">©2013<yufu:other settag="cnzzstatistics" />&nbsp;&nbsp;<yufu:other settag="lastatistics" />  
     </div>

</div>
<script type="text/javascript">
    $(function(){
       // 相册弹出特效
        $("ul.popo li").hover(function(){
                    $(".pop",this).stop(true,true).show().css({"left":$(this).offset().left + $(this).outerWidth()-3 + "px","top":$(this).offset().top + "px"});
                },function(){
                    $(".pop",this).stop(true,true).hide();
        }); 
        $("ul.popo li .pop").mouseover(function(){
            $(this).hide();
        });
        
        // 相册弹出特效
        $("li > dl > dt").hover(function(){
                    $(this).parent().parent().children('.pop').stop(true,true).show().css({"left":$(this).offset().left + $(this).outerWidth()-3 + "px","top":$(this).offset().top + "px"});
                },function(){
                    
                    $(this).parent().parent().children('.pop').stop(true,true).hide();
        }); 
        $("li > .pop").mouseover(function(){
            $(this).hide();
        });
        
        
        // 页面浮动面板
        $("#floatPanel > .ctrolPanel > a.arrow").eq(0).click(function(){$("html,body").animate({scrollTop :0}, 800);return false;});
        $("#floatPanel > .ctrolPanel > a.arrow").eq(1).click(function(){$("html,body").animate({scrollTop : $(document).height()}, 800);return false;});

        var objPopPanel = $("#floatPanel > .popPanel");	
        var w = objPopPanel.outerWidth();
        $("#floatPanel > .ctrolPanel > a.qrcode").bind({
            mouseover : function(){
                        objPopPanel.css("width","0px").show();
                        objPopPanel.animate({"width" : w + "px"},300);return false;
                },
                mouseout : function(){
                        objPopPanel.animate({"width" : "0px"},300);return false;
                        objPopPanel.css("width",w + "px");
            }	
        });
    });
</script>

<!--浮动面板-->
<div id="floatPanel">
     <div class="ctrolPanel">
           <a class="arrow" href="#"><span>顶部</span></a>
           <a class="contact" href="<yufu:other settag="feedbackqq" />" target="_blank"><span>反馈</span></a>
           <a class="qrcode" href="#"><span>微信二维码</span></a>
           <a class="arrow" href="#"><span>底部</span></a>
     </div>
     <div class="popPanel">
          <div class="popPanel-inner">
                <div class="qrcodePanel">
                     <img src="__UPLOADS__<yufu:set settag='qrcode' />" />
                     <span>扫描二维码关注我为好友</span>
                </div>
                <div class="arrowPanel">
                     <div class="arrow01"></div>
                     <div class="arrow02"></div>
                </div>
          </div>
     </div>
</div>
</body>
</html>