<include file="Public:header"/>

<div class="focus">
	<div class="flash">
		<iframe marginheight="0" marginwidth="0" border="0" src="__APP__/Slide" frameborder="no" height="260" scrolling="no" width="690"></iframe>
	</div>

	<div class="newhua">
		<div class="recommend_enter_block mt30">
			<p class="recommend_title">每日一荐</p>
		<yufu:tuijian catid="53" recommendid="4" num="1" >
			<div id="recoPic" style="padding:10px;float:left;width:125px;">
				<a href="{:U('Weixin/show',array('id'=>$tuijian['id']))}" target="_blank">
					<img src="<empty name='tuijian.logo'><empty name='tuijian.weblogo'>../Public/images/nopic.gif<else />{$tuijian.weblogo}</empty><else />__ROOT__/Uploads{$tuijian.logo}</empty>" width="125" height="125"/>
					<img src="__ROOT__/Uploads{$tuijian.qrcode}" style="display:none;" width="125" height="125"/>
				</a>
			</div>
			<div style="font-size: 15px;font-weight: bold;margin-top: 10px;">
				<a style="color: #666;margin-left:15px;text-decoration: none;" href="{:U('Weixin/show',array('id'=>$tuijian['id']))}"  target="_blank">{$tuijian.pubaccount|msubstr=0,6}</a>
			</div>
			<div style="margin-top:5px;">
				<span style="margin-left:15px;font-size:18px;">
					<?php
							switch ($tuijian["xingji"]) {
								case 1:
									echo "★☆☆☆☆";
									break;
								case 2:
									echo "★★☆☆☆";
									break;
								case 3:
									echo "★★★☆☆";
									break;
								case 4:
									echo "★★★★☆";
									break;
								case 5:
									echo "★★★★★";
									break;
							}
						?>
				</span>
			</div>
			<div style="margin-top:5px;">
				<span style="margin-left:15px;font-size:15px;">关注{$tuijian.hits}次</span>
			</div>
			<div class="guanzhu_shouye">
				<a href="{:U('Weixin/show',array('id'=>$tuijian['id']))}" style="color:white;" target="_blank">加关注</a>
			</div>
			<div class="desc">
				<p>{$tuijian.content|msubstr=0,55}</p>
			</div>
		</yufu:tuijian>
		<div class="sitead"></div>
	</div>
</div>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".sub_wrap_why ul li").unbind();
		$(".pop").unbind();
		$(".con-prompt").mouseover(function(){
			//$(this).children().children().eq(0).hide();
			//$(this).children().children().eq(1).show();
			$(this).next().css('left',$(this).width()).show();
		}).mouseout(function(){
			//$(this).children().children().eq(0).show();
			//$(this).children().children().eq(1).hide();
			$(this).next().hide();
		});

		$("#recoPic").mouseover(function(){
			$(this).children().eq(0).children().eq(0).hide();
			$(this).children().eq(0).children().eq(1).show();
		}).mouseout(function(){
			$(this).children().eq(0).children().eq(0).show();
			$(this).children().eq(0).children().eq(1).hide();
		});
	});

	function swap(obj1,obj2,direction)
	{
		if(obj1.attr("class")!="sub_wrap_why"||obj2.attr("class")!="sub_wrap_why")
			return;
		if(obj1==null||obj2==null)
			return;
		if(direction=="left"&&obj1.css("display")=="none")
			return;
		if(direction=="right"&&obj2.css("display")=="none")
			return;
		if(direction=="left")
		{
			obj2.css("left",obj1.offset().left+obj1.parent().width());
			obj2.show();
			obj1.animate({left:"-"+obj1.parent().width()+"px"},700,"linear",function(){
				$(this).hide();
				$(this).css("left","0px");
			});
			obj2.animate({"left":"0"},700);
		}
		else if(direction=="right")
		{
			obj1.css("left","-"+obj2.parent().width()+"px");
			obj1.show();
			obj2.animate({left:obj2.offset().left+obj2.parent().width()+"px"},700,"linear",function(){
				$(this).hide();
				$(this).css("left","0px");
			});
			obj1.animate({"left":"0"},700);
		}
	}

	function findWKNode(_this)
	{
		var wknodes = _this.parent().children(".sub_wrap_why");
		var node = null;
		for(var i=0;i<wknodes.length;i++)
		{
			if($(wknodes[i]).css("display")!="none")
			{
				node = $(wknodes[i]);
				break;
			}
		}
		return node;
	}

	$(document).ready(function(){
		$(".prevWrap").click(function(){
			var node = findWKNode($(this));
			swap(node.prev(),node,"right");
		});

		$(".nextWrap").click(function(){
			var node = findWKNode($(this));
			swap(node,node.next(),"left");
		});
	});
	
</script>

<div class="main_wrap_why">
	
	<div class="zone">
	<div class="l">
	<div class="t" style="position:relative;z-index:100;">
			<h2 title="小编推荐"><a href="#" target="_blank">小编推荐</a></h2>
			</div>
	<div style="width:300px;height:335px;left:-115px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div style="width:600px;height:335px;left:875px;px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div class="con">
		<div class="prevWrap" style="top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/left.png" height="30" width="30"></a>
		</div>
			<?php
				$db = new Model();
				$data = $db->table("wx_tuijian tj,wx_weixin wx")->where("tj.wxid=wx.id and tj.status=1 and tj.recommendid=1 and(tj.endtime=0 or tj.endtime>tj.create_time)")->field("wx.id,wx.content,wx.update_time,wx.logo,wx.qrcode,wx.pubaccount,wx.xingji,wx.hits")->order("xingji desc")->select();
				$tuijian = $data;
				$num = count($tuijian);
				$page_num = floor($num%12==0?$num/12:($num/12+1));
				$last_page = $num%12;
				for($i=0;$i<$page_num;$i++)
				{
					$curNum = 12;
					if($i>=$page_num-1&&$last_page!=0)
						$curNum = $last_page;
			?>
			<div class="sub_wrap_why" style=<?=$i!=0?"display:none;":""?>>		
				<ul id="con01">
					<?php
						for($n=0;$n<$curNum;$n++)
						{
							$index = $i*12+$n;
							$weixin = $tuijian[$index];
					?>
					<li>
						<div class="con-prompt"> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank">

							<img class="appPic" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="80" height="80">
							<h3>{$weixin.pubaccount|msubstr=0,7}</h3>
							<p><img src="../Public/source/index_icon05.png" width="12" height="10">						
							<?=date("m-d",$weixin["update_time"])?></p>
							</a>
							<!--<div class="downbtn none" style="display: none;"><span><a href="http://www.zhaogonghao.com/lvyou/21079.html" target="_blank">加关注</a></span></div>-->
						</div>
						<div class="pop">
                                <div class="panel">
                                    <div class="ewm"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>"></div>
                                    <div class="title">{$weixin.pubaccount|msubstr=0,24}</div>
                                    <div class="star"><img src="../Public/images/xx{$tuijian.xingji}.jpg" /></div>
                                    <div class="rate">{$weixin.hits}人关注</div>
                                    <div class="des"><p style="text-indent:0px;">{$weixin.content|strip_tags|msubstr=0,20}</p></div>
                                </div>
                                <div class="arrow">
                                    <div class="arrow1"></div>
                                    <div class="arrow2"></div>
                               </div> 
                        </div>
					</li>
					<?php } ?>
				</ul>
			</div>
			<?php } ?>

		<div class="nextWrap" style="right:0;top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/right.png" height="30" width="30"></a>
		</div>
		</div>
	</div>
	</div>

	<div class="r">
		<div class="rt">
			<h2><a href="{:U('Weixin/news',array('id'=>'90'))}">最新收录</a></h2>
			</div>
		<div class="index-side index-side02"> 			
			<ol>
				<yufu:weixin catid="53" field="id,logo,pubaccount,xingji" order="create_time desc" num="8" >
				<li>
					<div class="con-prompt2">
						<code style="width:65px;">
						<?php
							switch ($weixin["xingji"]) {
								case 1:
									echo "★☆☆☆☆";
									break;
								case 2:
									echo "★★☆☆☆";
									break;
								case 3:
									echo "★★★☆☆";
									break;
								case 4:
									echo "★★★★☆";
									break;
								case 5:
									echo "★★★★★";
									break;
							}
						?>
						</code>
						<a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="20" height="20"></a> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" style="margin-left:5px;" target="_blank">{$weixin.pubaccount|msubstr=0,13}</a>
					</div>
				</li>	
				</yufu:weixin>	
			</ol>
		</div>
	</div>

	<div class="zone">
	<div class="l">
	<div class="t">
			<h2 title="订阅号精选"><a href="#" target="_blank">订阅号精选</a></h2>
			</div>
	<div style="width:300px;height:335px;left:-115px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div style="width:600px;height:335px;left:875px;px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div class="con">
		<div class="prevWrap" style="top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/left.png" height="30" width="30"></a>
		</div>
		<?php
				$db = new Model();
				$data = $db->table("wx_tuijian tj,wx_weixin wx")->where("tj.wxid=wx.id and tj.status=1 and tj.recommendid=5 and(tj.endtime=0 or tj.endtime>tj.create_time)")->field("wx.id,wx.update_time,wx.logo,wx.qrcode,wx.pubaccount,wx.xingji,wx.hits")->order("xingji desc")->select();
				$tuijian = $data;
				$num = count($tuijian);
				$page_num = floor($num%12==0?$num/12:($num/12+1));
				$last_page = $num%12;
				for($i=0;$i<$page_num;$i++)
				{
					$curNum = 12;
					if($last_page!=0&&$i>=$page_num-1)
						$curNum = $last_page;
			?>
			<div class="sub_wrap_why" style=<?=$i!=0?"display:none;":""?>>		
				<ul id="con01">
					<?php
						for($n=0;$n<$curNum;$n++)
						{
							$index = $i*12+$n;
							$weixin = $tuijian[$index];
					?>
					<li>
						<div class="con-prompt"> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank">

							<img class="appPic" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="80" height="80">

							<img class="appQRCode" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>" style="display:none;" width="80" height="80">
							<h3>{$weixin.pubaccount|msubstr=0,7}</h3>
							<p><img src="../Public/source/index_icon05.png" width="12" height="10">						
							<?=date("m-d",$weixin["update_time"])?></p>
							</a>
							<!--<div class="downbtn none" style="display: none;"><span><a href="http://www.zhaogonghao.com/lvyou/21079.html" target="_blank">加关注</a></span></div>-->
						</div>
						<div class="pop">
                                <div class="panel">
                                    <div class="ewm"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>"></div>
                                    <div class="title">{$weixin.pubaccount|msubstr=0,24}</div>
                                    <div class="star"><img src="../Public/images/xx{$tuijian.xingji}.jpg" /></div>
                                    <div class="rate">{$weixin.hits}人关注</div>
                                    <div class="des"><p style="text-indent:0px;">{$weixin.content|strip_tags|msubstr=0,20}</p></div>
                                </div>
                                <div class="arrow">
                                    <div class="arrow1"></div>
                                    <div class="arrow2"></div>
                               </div> 
                        </div>
					</li>
					<?php } ?>
				</ul>
			</div>
			<?php } ?>
		<div class="nextWrap" style="right:0;top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/right.png" height="30" width="30"></a>
		</div>
		</div>
	</div>
	</div>

	<div class="r">
		<div class="rt">
			<h2>关注排行</h2>
			</div>
		<div class="index-side index-side02"> 			
			<ol>
				<yufu:weixin catid="53" field="id,logo,pubaccount,xingji,hits" order="hits desc" num="8" >
				<li>
					<div class="con-prompt2">
						<code style="width:65px;">
						<?php
							switch ($weixin["xingji"]) {
								case 1:
									echo "★☆☆☆☆";
									break;
								case 2:
									echo "★★☆☆☆";
									break;
								case 3:
									echo "★★★☆☆";
									break;
								case 4:
									echo "★★★★☆";
									break;
								case 5:
									echo "★★★★★";
									break;
							}
						?>
						</code>
						<a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="20" height="20"></a> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" style="margin-left:5px;" target="_blank">{$weixin.pubaccount|msubstr=0,13}</a>
					</div>
				</li>	
				</yufu:weixin>			
			</ol>
		</div>
	</div>

	<div class="zone">
	<div class="l">
	<div class="t">
			<h2 title="服务号精选"><a href="#" target="_blank">服务号精选</a></h2>
			</div>
	<div style="width:300px;height:335px;left:-115px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div style="width:600px;height:335px;left:875px;px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div class="con">
		<div class="prevWrap" style="top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/left.png" height="30" width="30"></a>
		</div>
		<?php
				$db = new Model();
				$data = $db->table("wx_tuijian tj,wx_weixin wx")->where("tj.wxid=wx.id and tj.status=1 and tj.recommendid=6 and(tj.endtime=0 or tj.endtime>tj.create_time)")->field("wx.id,wx.update_time,wx.logo,wx.qrcode,wx.pubaccount,wx.xingji,wx.hits")->order("xingji desc")->select();
				$tuijian = $data;
				$num = count($tuijian);
				$page_num = floor($num%12==0?$num/12:($num/12+1));
				$last_page = $num%12;
				for($i=0;$i<$page_num;$i++)
				{
					$curNum = 12;
					if($i>=$page_num-1&&$last_page!=0)
						$curNum = $last_page;
			?>
			<div class="sub_wrap_why" style=<?=$i!=0?"display:none;":""?>>		
				<ul id="con01">
					<?php
						for($n=0;$n<$curNum;$n++)
						{
							$index = $i*12+$n;
							$weixin = $tuijian[$index];
					?>
					<li>
						<div class="con-prompt"> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank">

							<img class="appPic" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="80" height="80">

							<img class="appQRCode" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>" style="display:none;" width="80" height="80">
							<h3>{$weixin.pubaccount|msubstr=0,7}</h3>
							<p><img src="../Public/source/index_icon05.png" width="12" height="10">						
							<?=date("m-d",$weixin["update_time"])?></p>
							</a>
							<!--<div class="downbtn none" style="display: none;"><span><a href="http://www.zhaogonghao.com/lvyou/21079.html" target="_blank">加关注</a></span></div>-->
						</div>
						<div class="pop">
                                <div class="panel">
                                    <div class="ewm"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>"></div>
                                    <div class="title">{$weixin.pubaccount|msubstr=0,24}</div>
                                    <div class="star"><img src="../Public/images/xx{$tuijian.xingji}.jpg" /></div>
                                    <div class="rate">{$weixin.hits}人关注</div>
                                    <div class="des"><p style="text-indent:0px;">{$weixin.content|strip_tags|msubstr=0,20}</p></div>
                                </div>
                                <div class="arrow">
                                    <div class="arrow1"></div>
                                    <div class="arrow2"></div>
                               </div> 
                        </div>
					</li>
					<?php } ?>
				</ul>
			</div>
			<?php } ?>
		<div class="nextWrap" style="right:0;top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/right.png" height="30" width="30"></a>
		</div>
		</div>
	</div>
	</div>

	<div class="zone">
	<div class="l">
	<div class="t">
			<h2 title="新锐榜"><a href="#" target="_blank">新锐榜</a></h2>
			</div>
	<div style="width:300px;height:335px;left:-115px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div style="width:600px;height:335px;left:875px;px;top:inherit;position:absolute;background-color:#f4f4f4;z-index:2;"></div>
	<div class="con">
		<div class="prevWrap" style="top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/left.png" height="30" width="30"></a>
		</div>
		<?php
				$db = new Model();
				$data = $db->table("wx_tuijian tj,wx_weixin wx")->where("tj.wxid=wx.id and tj.status=1 and tj.recommendid=7 and(tj.endtime=0 or tj.endtime>tj.create_time)")->field("wx.id,wx.update_time,wx.logo,wx.qrcode,wx.pubaccount,wx.xingji,wx.hits")->order("xingji desc")->select();
				$tuijian = $data;
				$num = count($tuijian);
				$page_num = floor($num%12==0?$num/12:($num/12+1));
				$last_page = $num%12;
				for($i=0;$i<$page_num;$i++)
				{
					$curNum = 12;
					if($i>=$page_num-1&&$last_page!=0)
						$curNum = $last_page;
			?>
			<div class="sub_wrap_why" style=<?=$i!=0?"display:none;":""?>>		
				<ul id="con01">
					<?php
						for($n=0;$n<$curNum;$n++)
						{
							$index = $i*12+$n;
							$weixin = $tuijian[$index];
					?>
					<li>
						<div class="con-prompt"> <a href="{:U('Weixin/show',array('id'=>$weixin['id']))}" target="_blank">

							<img class="appPic" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.logo}</empty>" width="80" height="80">

							<img class="appQRCode" src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>" style="display:none;" width="80" height="80">
							<h3>{$weixin.pubaccount|msubstr=0,7}</h3>
							<p><img src="../Public/source/index_icon05.png" width="12" height="10">						
							<?=date("m-d",$weixin["update_time"])?></p>
							</a>
							<!--<div class="downbtn none" style="display: none;"><span><a href="http://www.zhaogonghao.com/lvyou/21079.html" target="_blank">加关注</a></span></div>-->
						</div>
						<div class="pop">
                                <div class="panel">
                                    <div class="ewm"><img src="<empty name='weixin.logo'><empty name='weixin.weblogo'>../Public/images/nopic.gif<else />{$weixin.weblogo}</empty><else />__ROOT__/Uploads{$weixin.qrcode}</empty>"></div>
                                    <div class="title">{$weixin.pubaccount|msubstr=0,24}</div>
                                    <div class="star"><img src="../Public/images/xx{$tuijian.xingji}.jpg" /></div>
                                    <div class="rate">{$weixin.hits}人关注</div>
                                    <div class="des"><p style="text-indent:0px;">{$weixin.content|strip_tags|msubstr=0,20}</p></div>
                                </div>
                                <div class="arrow">
                                    <div class="arrow1"></div>
                                    <div class="arrow2"></div>
                               </div> 
                        </div>
					</li>
					<?php } ?>
				</ul>
			</div>
			<?php } ?>
		<div class="nextWrap" style="right:0;top:133px;">
			<a><img style="left: 2px;position: absolute;top: 3px;background: none;border: none;padding: 0px;" src="../Public/source/right.png" height="30" width="30"></a>
		</div>
		</div>
	</div>
	</div>

<div style="clear:both;"></div>
</div>

<div class="clearfix"></div>
<include file="Public:footer"/>
</body></html>